.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e2e;
  font-family: 'Press Start 2P', cursive;
}

form {
  background-color: #2e2e3e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.0.8);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffcc00;
  color: #000;
  transition: background-color 0.3s ease;
}
h2{
  color: white !important;
}
.button:hover {
  background-color: #ffaa00;
}

.loginButton {
  margin-bottom: 10px;
}

.registerButton {
  background-color: #444444;
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #ffffff;
}

.error {
  color: #ff6666;
  margin-top: 10px;
  font-size: 0.9rem;
}
.message {
  color: #ffe600;
  margin-top: 10px;
  font-size: 0.9rem;
}
.columngap {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 10px;
}